h1 {
	margin-bottom: 1rem;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	color: var(--color-text-main);
}

h2,
h3 {
	font-weight: 700;
}

h3 {
	font-size: 1.2rem;
}

p.mb-0 {
	margin-bottom: 0 !important;
}

.text-muted {
	color: var(--color-text-muted);
	font-size: 0.9rem;
}

.event-icon {
	margin-right: 8px;
	font-size: 1.2rem;
}
